{% set virt = salt['grains.filter_by']({
    'default': {
        'virtualbox': 'virtualbox',
    },
    'Ubuntu': {
        'virtualbox': 'virtualbox-qt',
    },
    'RedHat': {
        'virtualbox': 'virtualbox-5.0',
    },
}, merge=salt['pillar.get']('virt:lookup'), default='default') %}
