{% set map = salt['grains.filter_by']({
    'default': {
        'virtualbox': 'virtualbox',
        'chromium': 'chromium',
        'firefox': 'firefox',
        'thunderbird': 'thunderbird',
     },
         'Ubuntu': {
        'virtualbox': 'virtualbox-qt',
        'chromium': 'chromium-browser',
    },
    'Debian': {
        'virtualbox': 'virtualbox-qt',
        'chromium': 'chromium',
        'thunderbird': 'icedove',
        'firefox': 'firefox-esr',
    },
    'RedHat': {
        'virtualbox': 'VirtualBox',
        'firefox': 'firefox',
        'chromium': 'chromium',
    },
    'Arch': {
        'virtualbox': 'VirtualBox',
        'chromium': 'chromium',
    },
},  grain="os", merge=salt['pillar.get']('map:lookup'), default='default') %}
