{% set kde = salt['grains.filter_by']({
    'default': {
        'gtk3breeze': 'gtk3-engines-breeze',
        'kdegtkconfig': 'kde-gtk-config',
        'kget': 'kget',
        'konsole': 'konsole',
    },
    'Debian': {
        'gtk3breeze': 'gtk3-engines-breeze',
        'kdegtkconfig': 'kde-config-gtk-style',
        'kget': 'kget',
        'konsole': 'konsole',
    },
    'Ubuntu': {
        'gtk3breeze': 'gtk3-engines-breeze',
        'kdegtkconfig': 'gtk2-engines-oxygen',
        'kget': 'kget',
        'konsole': 'konsole',
    },
    'RedHat': {
        'gtk3breeze': 'breeze-gtk',
        'kdegtkconfig': 'kde-gtk-config',
        'kget': 'kget',
	'konsole' : 'konsole5',
    },
    'Arch': {
        'gtk3breeze': 'breeze-gtk',
        'kdegtkconfig': 'kde-gtk-config',
        'kget': 'kdenetwork-kget',
        'konsole': 'konsole',
	'qtcurve': 'qtcurve-qt5'
    },
}, grain="os", merge=salt['pillar.get']('kde:lookup'),default='default') %}
