{% set sw = salt['grains.filter_by']({
    'Linux': {
        'default': 'default',
     },
}, grain='kernel', merge=salt['pillar.get']('sw'))%}


{% set sw = salt['grains.filter_by']({
    'Ubuntu': {
        'virtualbox': 'virtualbox-qt',
        'chromium': 'chromium-browser',
        'firefox': 'firefox',
        'thunderbird': 'thunderbird',
        'vim': 'vim',
    },
    'Debian': {
        'virtualbox': 'virtualbox-qt',
        'chromium': 'chromium',
        'thunderbird': 'icedove',
        'firefox': 'firefox-esr',
        'apache': 'apache2',
        'vim': 'vim',
    },
    'Fedora': {
        'virtualbox': 'VirtualBox-5.1',
        'firefox': 'firefox',
        'chromium': 'chromium',
        'vim': 'vim-minimal',
        'apache': 'httpd',
        'firefox': 'firefox',
        'thunderbird': 'thunderbird',
        'vim': 'vim-enhanced',
    },
    'SUSE': {
        'virtualbox': 'virtualbox-qt',
        'firefox': 'MozillaFirefox',
        'chromium': 'chromium',
        'vim': 'vim-minimal',
        'apache': 'httpd',
        'firefox': 'firefox',
        'thunderbird': 'MozillaThunderbird',
        'vim': 'vim',
    },
    'Arch': {
        'chromium': 'chromium',
        'firefox': 'firefox',
        'thunderbird': 'thunderbird',
        'vim': 'vim'
    },
},grain="os" )%}

